.home-container {
  &__movies-section-container {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #ffe500;
    &__movies-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 50px;
      justify-content: center;
      gap: 1rem;
      &__single-movie-box {
        display: flex;
        flex-direction: column;
        width: 175px;
        &:hover {
          cursor: pointer;
        }
        &__image {
          width: 175px;
          height: 255px;
        }
        &__title {
          font-size: 1rem;
          color: white;
          padding: 5px 10px;
          text-align: center;
        }
      }
    }
  }
}
