@use '../../../styles/mixin.scss' as mixin;
.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  .moviesBox {
    z-index: 1;
    padding: 1rem 0;
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
    @include mixin.pc1100px {
      flex-wrap: wrap;
      padding: 50px;
      gap: 1rem;
      justify-content: center;
      background-color: transparent;
    }
    &:hover {
      padding: 0;
      @include mixin.pc1100px {
        padding: 50px;
      }
    }
  }
  .textBox {
    z-index: 1;
    font-size: 1rem;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    padding: 1rem 3rem;
    text-align: center;
    h3 {
      color: #ffe500;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: black;
    }
    h4 {
      color: #ffe500;
      margin: 0.5rem 0;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: black;
    }
  }
}
