@use '../../../../styles/fonts.scss';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.line {
  display: block;
  position: absolute;
  top: 0px;
  left: 49.9%;
  background-color: #ed1d24;
  width: 0.3%;
  height: 100%;
  z-index: 3;
}
