.home-container {
    padding-bottom: 5rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-x: hidden;
    &__slider-container {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      &__active-slide-box {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 20px;
        padding: 10px 50px;
        img {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }