@keyframes secondary-filters-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1px;
  display: flex;
  background-color: black;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #ffe500;
  opacity: 0;
  animation: secondary-filters-in 0.5s 0.1s forwards;
  h3 {
    color: #ffe500;
    text-align: center;
    margin-bottom: 0.5erm;
  }
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
