.none-title {
  color: #ffe500;
}
.none-description {
  color: #ffe500;
  border: 2px solid #ffe500;
}
.none-category-box {
  background-color: #ffe500;
}
.none-category-box__category {
  background-color: #ffe500;
  color: black;
}
.none-category-box__category-item-bg {
  background-color: #ffe500;
}
.none-category-box__category-item {
  background-color: black;
  color: #ffe500;
}
.marvel-title {
  color: white;
}
.marvel-description {
  color: white;
  border: 2px solid #ec1d23;
}
.marvel-category-box {
  background-color: #ec1d23;
}
.marvel-category-box__category {
  background-color: #ec1d23;
  color: white;
}
.marvel-category-box__category-item-bg {
  background-color: #ec1d23;
}
.marvel-category-box__category-item {
  background-color: black;
  color: white;
}
