.home-container {
  overflow-y: hidden;
  &__series-section-container {
    position: relative;
    min-height: 120vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    padding: 20vh 0;
    &__picture {
      clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      opacity: 0.95;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__series-box {
      transition: 0.2s ease-in-out;
      z-index: 1;
      padding: 1rem 0;
      position: relative;
      display: flex;
      flex-direction: row;
      background-color: #e01822d8;
      // flex-wrap: wrap;
      height: auto;
      // padding: 50px;
      justify-content: flex-start;
      // gap: 1rem;
      &:hover {
        padding: 0;
      }
    }
    &__text-box {
      background-color: rgba(0, 0, 0, 0.267);
      z-index: 1;
      font-size: 1rem;
      color: white;
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: black;
      padding: 1rem 3rem;
      text-align: center;
      h3 {
        color: #e01821;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
      }
      h4 {
        color: #ffe500;
        margin: 0.5rem 0;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .home-container__series-section-container__series-box {
    flex-wrap: wrap;
    padding: 50px;
    gap: 1rem;
    justify-content: center;
    background-color: transparent;
    &:hover {
      padding: 50px;
    }
  }
  .home-container__series-section-container__text-box {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 680px) {
  .home-container__series-section-container {
    padding: 25vh 0;
  }
  .home-container__series-section-container__picture {
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
    background: #ffe500;
    img {
      display: none;
    }
  }
}
