.home-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__slider-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    &__slider {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      width: 100%;
      background: linear-gradient(-61deg, #ffe500, black);
      &__image {
        width: auto;
        height: auto;
        max-height: 80vh;
        max-width: 100%;
      }
      &__image-1000pxW {
        display: none;
      }
      &__image-680pxW {
        display: none;
      }
    }
    &__active-slide-box {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      gap: 20px;
      background-color: #ffe500;
      padding: 10px 20px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .home-container {
    &__slider-container {
      &__slider {
        height: 87vh;
        &__image {
          display: none;
        }
        &__image-1000pxW {
          display: block;
          width: auto;
          height: auto;
          max-height: 87vh;
          max-width: 100%;
        }
        &__image-680pxW {
          display: none;
        }
      }
      &__active-slide-box {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .home-container__slider-container__slider__image {
    display: none;
  }
  .home-container__slider-container__slider__image-1000pxW {
    display: none;
  }
  .home-container__slider-container__slider__image-680pxW {
    display: block;
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 100%;
  }
  .home-container__slider-container__slider {
    height: 90vh;
  }
}
