.home-container {
  display: flex;
  flex-direction: column;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background: linear-gradient(-61deg, #ffe500, black);
  &__image {
    width: 100%;
    height: auto;
  }
}
.active-slide-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px;
  background-color: #ffe500;
  padding: 10px 20px;
}
