.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe500;
  flex-direction: column;
    box-sizing: border-box;
    padding: 2rem;
    gap: 1rem;
 
  .navBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 10px;
        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
        }
      }
    }
  }
  .copyright {
    font-size: 1em;
    color: black;
    font-weight: 500;
  }
}
