@use '../../../../styles/mixin.scss' as mixin;
.button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: .7rem 2rem;
    color: #ffe500;
    font-weight: 600;
    border: 2px solid #ffe500;
    background: linear-gradient(to left, black 50%, #ffe500 50%) right;
    background-size: 200% 100%;
    transition: 0.3s ease-out;
    width: 14rem;
    @include mixin.phone700px{
        font-size: .7rem;
    }
    &:hover {
      cursor: pointer;
      background-position: left;
      border: 2px solid #ffe500;
      color: black;
    }
    
  }