@use '../../../styles/fonts.scss';
.container {
  display: flex;
  flex-direction: column;
}
.marvel-logo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ed1d24;
  padding: 1rem;
  &__text {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    font-family: 'Poppins-700';
  }
}
.section-title-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  &__title {
    width: 50%;
    text-align: right;
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background-color: #ed1d24;
    padding: 1rem 1rem 1rem 1rem;
    font-family: 'Poppins-600';
  }
}
.marvel-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
  &__about {
    font-size: 1rem;
    color: white;
    text-align: center;
    font-family: 'Poppins-400';
    b {
      color: #ed1d24;
      font-weight: 600;
    }
  }
}
