@use '../../../styles/fonts.scss';
.container {
  display: flex;
  flex-direction: column;
}
.logo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ed1d24;
  padding: 1rem;
  .text {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    font-family: 'Poppins-700';
  }
}

.marvelContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
}
