.home-container {
  &__series-section-container {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #ffe500;
    &__series-box {
      display: flex;
      flex-direction: row;
      padding: 50px;
      justify-content: space-between;
      &__single-serie-box {
        display: flex;
        flex-direction: column;
        width: 175px;
        &__image {
          width: 175px;
          height: 255px;
        }
        &__title {
          font-size: 1rem;
          color: white;
          padding: 5px 10px;
          text-align: center;
        }
      }
    }
  }
}
