@use '../../../../styles/mixin.scss' as mixin;
@keyframes secondary-filters-in {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
.container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: secondary-filters-in 0.5s 0.1s forwards;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0;
      height: 1px;
      width: 80%;
      background-color: #ffe500;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      right: 0;
      height: 1px;
      width: 80%;
      background-color: #ffe500;
    }
    .rowBox{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
      padding: 20px;
      @include mixin.phone700px{
        gap: 0.5rem;
      }
    }
  }