@keyframes stretch {
  from {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
    left: 0;
    top: 0;
  }
}
.single-news-box {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;

  //   margin-left: -4%;
  align-items: center;
  width: 100%;
  opacity: 1;
  //   left: 0;
  //   top: 0;
  //   position: absolute;
  background-color: #ffe500;
  &__image-1100 {
    display: flex;
    object-position: center center;
    object-fit: cover;
    height: 300px;
    width: 40%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__text-box {
    display: flex;
    padding-right: 2rem;
    flex-direction: column;
    width: 60%;
  }
  &:hover {
    cursor: pointer;
    // position: absolute;
    // z-index: 5;
    // animation: stretch ease-in-out 0.5s;
    // width: 100%;
    // background-color: #ffe500;
    // clip-path: none;
    // margin: 0;
    // .single-news-box__image-1100 {
    //   width: 40%;
    //   clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    // }
  }
}
@media only screen and (max-width: 1400px) {
  .single-news-box__text-box {
    &__description {
      font-size: 0.9rem;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .single-news-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0;
    width: 325px;
    clip-path: none;
    background-color: black;
    // &:hover {
    //   position: static;
    //   animation: none t;
    //   z-index: 0;
    //   width: 325px;
    //   height: 183px;
    //   background-color: black;
    //   .single-news-box__image {
    //     width: 175px;
    //     clip-path: none;
    //   }
    // }
    //   &__image {
    //     display: flex;
    //     width: 175px;
    //     height: 255px;
    //     clip-path: none;
    //     object-fit: fill;
    //   }
    &__image-1100 {
      display: flex;
      width: 325px;
      height: 183px;
      clip-path: none;
      object-fit: fill;
    }
    &__text-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      h2 {
        box-sizing: border-box;
        font-size: 1rem;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-weight: 500;
        width: 100%;
      }
      &__description {
        display: none;
      }
    }
  }
}
