@use '../../../../styles/mixin.scss' as mixin;
.header {
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 2rem 4rem;
  border-bottom: 3px solid #ffe500;
  color: #ffe500;
  width: 100%;
  font-size: 4rem;
  @include mixin.phone500px {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
  }
}
