@keyframes secondary-filters-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.filters-container {
  display: flex;
  flex-direction: column;
  // background-color: #ffe500;
  background-color: #ffe500;
  justify-content: center;
  h1 {
    text-align: center;
  }
  &__primary-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #ffe500;
    h2 {
      text-align: center;
    }
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }
  &__secondary-filters-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: secondary-filters-in 0.5s 0.1s forwards;
    align-items: center;
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      padding: 20px;
    }
  }
  &__active-filters-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #ffe500;
    opacity: 0;
    animation: secondary-filters-in 0.5s 0.1s forwards;
    h2 {
      color: #ffe500;
      text-align: center;
    }
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }
}
