@keyframes secondary-filters-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 100%;
  &__side-boxes {
    background-color: #ffe500;
    width: 33%;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
    height: 9rem;
    z-index: 2;
    border: 1px solid #ffe500;
    &:nth-of-type(3) {
      margin-left: -10%;
      width: 33%;
    }
  }
  h1 {
    text-align: center;
  }
  &__primary-filters-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    margin-left: -10%;
    color: #ffe500;

    // border: 1px solid #ffe500;
    min-width: 84%;
    padding: 0 10%;
    // clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
    min-height: 9rem;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      height: 1px;
      width: 80%;
      background-color: #ffe500;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0;
      height: 1px;
      width: 80%;
      background-color: #ffe500;
    }
    h2 {
      text-align: center;
    }
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
      padding-bottom: 10px;
    }
  }
  &__secondary-filters-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: secondary-filters-in 0.5s 0.1s forwards;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      height: 1px;
      width: 80%;
      background-color: #ffe500;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0;
      height: 1px;
      width: 80%;
      background-color: #ffe500;
    }
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
      padding: 20px;
    }
  }
  &__active-filters-container {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1px;
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #ffe500;
    opacity: 0;
    animation: secondary-filters-in 0.5s 0.1s forwards;
    h3 {
      color: #ffe500;
      text-align: center;
      margin-bottom: 0.5erm;
    }
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .filters-container__primary-filters-container {
    height: 11rem;
    &::before {
      top: -1px;
    }
    &::after {
      bottom: -1px;
    }
  }

  .filters-container__side-boxes {
    height: 11rem;
  }
}
@media only screen and (max-width: 940px) {
  .filters-container__primary-filters-container {
    height: auto;
    width: 100%;
    margin: 0;
  }
  .filters-container__side-boxes {
    display: none;
  }
}
@media only screen and (max-width: 780px) {
  .filters-container__primary-filters-container__box {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
  .filters-container__secondary-filters-container__box {
    gap: 0.5rem;
  }
}
