.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: fit-content;
  header {
    color: black;
  }
  &__side-boxes {
    background-color: #ffe500;
    width: 43%;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
    height: 9rem;
    z-index: 2;
    border: 1px solid #ffe500;
    &:nth-of-type(3) {
      margin-left: -10%;
      width: 43%;
    }
  }
  &__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    margin-left: -10%;
    color: #ffe500;
    border: 1px solid #ffe500;
    min-width: 44%;
    padding: 0 12rem;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
    height: 9rem;
  }
}
@media only screen and (max-width: 900px) {
  .header-container__side-boxes {
    display: none;
  }

  .header-container__text-box {
    padding: 0;
    width: 100%;
    margin-left: 0;
    h1 {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width: 550px) {
  .header-container__text-box {
    padding: 0 3rem;
    h1 {
      font-size: 1.2rem;
    }
  }
}
