.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background-color: black;
  color: #ffe500;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-color: green;
    color: black;
  }
}
.button-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background-color: #ffe500;
  color: black;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 600;
  width: fit-content;
  &:hover {
    cursor: pointer;
    background-color: green;
    color: black;
  }
}
.active-filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background-color: green;
  color: #ffe500;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-color: #d20000;
    color: black;
  }
}
.arrow-up-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  &:hover {
    cursor: pointer;
    color: green;
  }
  &__text {
    font-weight: 500;
    font-size: 0.9em;
  }
}
