.filters-container {
  display: flex;
  flex-direction: column;
  background-color: #ffe500;
  padding: 10px;
  justify-content: center;
  h1 {
    text-align: center;
  }
  &__main-cats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
  }
  &__sec-cats-container {
    display: flex;
    background-color: red;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
  }
}
